body {
	background-color: #000;
	background-image: url('bg.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.layer {
	float: left;
	width: 100%;
}

.wrapper {
	float: left;
	width: 80%;
	margin-left: 10%;
}

.map_tile, .map_selected {
	float: left;
	width: 120px;
	height: 120px;
	background-color: black;
	margin: 20px;
}

.map_selected {
	border-style: ridge;
	border-width: 5px;
	border-color: red;
}

#start {
	position: relative;
	width: 320px;
	height: 100px;
	left: 10%;
	margin: 50px;
	margin-left: 20px;
	text-align: center;
	line-height: 110px;
	background-color: black;
}

.letter {
	width: 32px;
	height: 32px;
}

.player {
	display: none;
	float: left;
	width: 40px;
	height: 40px;
	background-color: red;
	background-size: cover;
	margin: 20px;
}

.map_tile, #start, .player {
	border-style: ridge;
	border-width: 5px;
	border-color: gray;
}

.map_tile:hover, #start:hover {
	border-color: white;
}

/*======================
   background images
======================*/

#map1 { background-image: url('map1_thumb.png'); }

#pl1 { background-image: url('letters/spr_ip_3.png'); }

#pl2 { background-image: url('letters/spr_ip_4.png'); }

#pl3 { background-image: url('letters/spr_ip_5.png'); }

#pl4 { background-image: url('letters/spr_ip_6.png'); }

#pl5 { background-image: url('letters/spr_ip_7.png'); }

#pl6 { background-image: url('letters/spr_ip_8.png'); }

#pl7 { background-image: url('letters/spr_ip_9.png'); }

#pl8 { background-image: url('letters/spr_ip_10.png'); }